<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Agregar aviso de adopción</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.listado') }}">Listado de Adopción</a></li>
                <li><a href="{{ url_for('main.adopcion') }}">Formulario de Adopción</a></li>
                <li><a href="{{ url_for('main.estadistica') }}">Estadística</a></li>
            </ul> 
        </nav>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h1>Completa el formulario de adopción.</h1>
        <form action="{{ url_for('main.adopcion') }}" method="post" enctype="multipart/form-data">
            <h2> Lugar de entrega</h2>

            <fieldset>
                <div>
                    <label for="region">Region</label>
                    <select id="region" name="region_name" required>
                        <option value="" disabled selected>Seleccione una region</option>
                        {% for region in regiones %}
                            <option value="{{ region.id }}">{{ region.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div>
                    <label for="comuna">Comuna</label>
                    <select id="comuna" name="comuna" required>
                        <option value="" disabled selected>Seleccione una comuna</option>
                        </select>
                </div>
                <br>
                <div>
                    <label for="sector">Sector</label>
                    <input type="text" id="sector" name="sector" maxlength="100">
                </div>
            </fieldset>

            <br>
            <h2>Datos de contacto</h2>

            <fieldset>
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" maxlength="200" minlength="3" required>
                </div>
                <br> 
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" maxlength="100" required>
                </div>
                <br>
                <div>
                    <label for="celular">Número Celular</label>
                    <input type="tel" id="celular" name="celular" placeholder="+569.12345678">
                </div>
                <br>
                <div>
                    <label for="contacto-por-select">Contacta por</label>
                    <select id="contacto-por-select" name="contacto-por[]" multiple size="6">
                        <option value="whatsapp">Whatsapp</option>
                        <option value="telegram">telegram</option>
                        <option value="X">X</option>
                        <option value="instagram">instagram</option>
                        <option value="tiktok">tiktok</option>
                        <option value="otra">Otra</option>
                    </select>
                    <p>Use la tecla (Ctrl/Cmd) para seleccionar más de un contacto</p>
                </div>
                <br>

                <div id="otro-contacto-contenedor" style="margin-top: 15px;">
                    </div>
                
                </fieldset>

            <h2>¿Qué mascota ofrece en adopción?</h2>

            <fieldset>
                <div>
                    <label for="tipo">Tipo de Mascota</label>
                    <select id="tipo" name="tipo" required>
                        <option value="" disabled selected>-- Seleccione una opción --</option>
                        <option value="perro">Perro</option>
                        <option value="gato">Gato</option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number" id="cantidad" name="cantidad" min="1" required>
                </div>
                <br>
                <div>
                    <label for="edad">Edad de la mascota</label>
                    <input type="number" id="edad" name="edad" min="1" required>
                </div>
                <br>
                <div>
                    <label for="unidad-edad">Unidad de la edad</label>
                    <select id="unidad-edad" name="unidad-edad" required>
                        <option value="" disabled selected>-- Seleccione una opción --</option>
                        <option value="a">años</option>
                        <option value="m">meses</option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="fecha-entrega">Fecha de entrega</label>
                    <input type="datetime-local" id="fecha-entrega" name="fecha-entrega" required>
                </div>
                <br>
                <div>
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" cols="50" rows="10"></textarea>
                </div>
                <br>
                <div id="fotos-container">
                    <label for="foto">Foto(s) de la mascota:</label>
                    <input type="file" id="foto" name="foto[]" required multiple>
                    <button type="button" id="agregar-foto">Agregar otra foto</button>
                    <p class="nota">Nota: Puede seleccionar múltiples fotos a la vez.</p>
                </div>
            </fieldset>

            <div class="submit-button-container">
                <button type="submit">Agregar aviso de adopción</button>
            </div>

        </form>
        <script src="{{ url_for('static', filename='js/region_comuna.js') }}"></script>
    </body>
</html>