<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Estadísticas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('main.static', filename='css/style.css') }}">
        

        
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        
    </head>


    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.listado') }}">Listado de Adopción</a></li>
                <li><a href="{{ url_for('main.adopcion') }}">Formulario de Adopción</a></li>
                <li><a href="{{ url_for('main.estadistica') }}">Estadística</a></li>
                <li><a href="{{ spring_url }}/evaluation">Evaluar listado</a></li>
            </ul> 
        </nav>

        <h1>Estadísticas del Sistema</h1>
        <p>A continuación se muestran los datos de los avisos de adopción.</p>

        <div class="grafico-container">
            <h2>1. Cantidad de Avisos de Adopción por Día</h2>
            <div id="chart-avisos-por-dia" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>

        <div class="grafico-container">
            <h2>2. Total de Avisos por Tipo de Mascota</h2>
            <div id="chart-total-por-tipo" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        
        <div class="grafico-container">
            <h2>3. Avisos Mensuales por Tipo de Mascota</h2>
            <div id="chart-mensual-por-tipo" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>

        <div class="volver-portada-container">
            <a href="{{ url_for('main.index') }}" class="btn-volver-portada">Volver a la portada</a>
        </div>

        <script src="{{ url_for('main.static', filename='js/Graficos.js') }}"></script>
    </body>
</html>